
  .dashboard{
  
  &__button {
padding: 2px 15px;
border: 2px solid;
border-radius: 50px;
border-color: rgb(2, 20, 43);
background: #ffffff ;
color: rgb(0, 0, 0);
font-size: 14px;
font-weight: 640;
transition: 0.3s ease;

    
}
  }